.result_section {
  margin-top: 28px;
  display: none;
}

.lotto_pack {
  width: 382px;
  height: 300px;
  overflow: scroll;
}

.lotto {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
  margin-top: 12px;
}
